.circle {
  stroke-dasharray: 1000;
  stroke-linecap: round;
  animation: stroke 1s ease-in-out infinite;
}

@keyframes stroke {
  from {
    stroke-dashoffset: 1000px;
  }
  to {
    stroke-dashoffset: 185px;
  }
}

.svg {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
