.circle {
  stroke-dasharray: calc(320 * 3.14); /* Radius of the Circle times π. */
  stroke-linecap: round;
  transition: 1s linear;
}

.svg {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
