.circle {
  stroke-dasharray: calc(var(--radius) * 3.14);
  stroke-linecap: round;
  transition: 1s linear;
}

.svg {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
