.scrollbar {
  margin: 16px 0 32px 0;
}

.scrollbar::-webkit-scrollbar {
  margin-top: 40px;
  padding-top: 40px;
  background-color: transparent;
  width: 0.375rem;
}

.scrollbar::-webkit-scrollbar-track {
  width: 0.375rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--el-bg-color);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-accent);
}
