@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-theme='light'] {
  --bg-color: theme('colors.sky.100');
  --main-color: theme('colors.violet.500');
  --main-color-accent: theme('colors.purple.700');
  --hc-color: theme('colors.purple.800');
  --hc-color-accent: theme('colors.purple.900');
  --el-bg-color: theme('colors.blue.200');
  --el-bg-hover-color: theme('colors.indigo.300');
}

body[data-theme='dark'] {
  --bg-color: theme('colors.zinc.800');
  --main-color: theme('colors.amber.600');
  --main-color-accent: theme('colors.amber.700');
  --hc-color: theme('colors.zinc.100');
  --hc-color-accent: theme('colors.orange.200');
  --el-bg-color: theme('colors.orange.100');
  --el-bg-hover-color: theme('colors.orange.200');
}

/* JWC CSS Reset. */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
