@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-theme='light'] {
  --bg-color: #C8D1D9;
  --main-color: #30363C;
  --main-color-accent: #30363C;
  --hc-color: #30363C;
  --hc-color-accent: #30363C;
  --el-bg-color:#87C0D0;
  --el-bg-hover-color: #7bb1c0;
  --pause-timer-color: #97AF8B;
  --pause-timer-color-accent: #819676;
  --pause-text-timer-color: #30382c;
}

body[data-theme='dark'] {
  --bg-color: theme('colors.zinc.800');
  --main-color: theme('colors.amber.600');
  --main-color-accent: theme('colors.amber.700');
  --hc-color: theme('colors.zinc.100');
  --hc-color-accent: theme('colors.orange.200');
  --el-bg-color: theme('colors.orange.100');
  --el-bg-hover-color: theme('colors.orange.200');
  --pause-timer-color: theme('colors.emerald.200');
  --pause-timer-color-accent: theme('colors.emerald.400');
  --pause-text-timer-color: theme('colors.emerald.800');
}


/* JWC CSS Reset. */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
